.spots-container {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". spots-wrapper .";
      margin-top: 30px;
  }

.spots-wrapper {
    grid-area: spots-wrapper;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    max-width: 1000px;

}

.spot-images-main {
    width: 225px;
    height: 225px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.location-star {
    display: flex;
    justify-content: space-between;
}

.spots-links-main {
    text-decoration: none;
    color: black;
}
