.outermost {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 0px 0px;
  grid-template-areas:
    "navcontainer"
    "maincontainer";
}
.navcontainer {
  grid-area: navcontainer;
}

.maincontainer { grid-area: maincontainer; }
