.container {
    height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    gap: 0px 0px;
    grid-template-areas:
        "nav"
        "main";
}

.nav {
    grid-area: nav;
    display: flex;
    background-color: lightblue;
}

.main {
    grid-area: main;
    background-color: lightpink;
}
