.outermost {
  /* width: 100%;
  max-width: 860px;
  margin: 0 auto;
  height: 100vh; */
  font-family: "montserrat", "sans-serif";
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "navcontainer"
    "maincontainer";
}
.navcontainer {
  grid-area: navcontainer;
}

.maincontainer {
  grid-area: maincontainer;
}
