.details-container {
  max-width: 1000px;
  width: auto;
    display: grid;
    grid-template-columns: auto 1fr 1fr 35px;
    grid-template-rows: 0.3fr 0.3fr 3fr 2fr auto;
    gap: 2px 0px;
    grid-template-areas:
      ". details-name . ."
      ". details-location . ."
      ". details-image-container details-image-container ."
      ". description-reserve description-reserve ."
      ". reviews-details reviews-details .";
  }

  .details-name {
    grid-area: details-name;
    /* background-color: blue; */
    font-size: 28px;
    font-weight: bold;

 }

.hosted-by {
  margin-top: 40px;
}

.details-container {
  margin-left: 50px;
 }

  .details-location {
    grid-area: details-location;
    /* background-color: green; */
}

  .details-image-container {
    grid-area: details-image-container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "preview-details small-details";
    /* background-color: pink; */
    gap: 0px;
}

.preview-details {
  grid-area: preview-details;
  /* background-color: brown; */

}

.main-img{
  /* height: 137px;
  width: 225px; */
  height: 350px;
  width: 450px;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}

.small-details {
  grid-area: small-details;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 500px;
  height: 350px;
  gap: 10px;
}

.small-img{
  height: 170px;
  width: 243px;
  object-fit: cover;
}

.small-img-2 {
  height: 170px;
  width: 243px;
  object-fit: cover;
  border-radius: 0px 10px 0px 0px;
}

.small-img-3 {
  height: 170px;
  width: 243px;
  object-fit: cover;
  border-radius: 0px 0px 10px 0px;
}

.description-reserve {
  grid-area: description-reserve;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "description-wrapper reserve-box";
}

  .description-wrapper {
    grid-area: description-wrapper;
    /* background-color: purple; */

}

.spot-description {
  margin-right: 10px;
}

  .reserve-box {
    grid-area: reserve-box;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-areas:
    "first-row"
    "reserve-button"
    ". ";
    box-shadow: 0 0 10px grey;
    height: 100px;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.first-row {
  grid-area: first-row;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "details-price details-star-review";
}

.details-price {
  grid-area: details-price;

  padding-top: 20px;
  padding-left: 30px;

}

.details-star-review {
  grid-area: details-star-review;
  /* background-color: orange; */
  padding-top: 20px;
  padding-right: 30px;
  display: flex;
  justify-content: end;

}

.reserve-button {

/* background-color: yellow; */
  grid-area: reserve button;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "reserve";
  padding-top: 15px;
}

.reserve {
  width: 250px;
  height: 30px;
  grid-area: reserve;
  background: rgba(255, 33, 52, 0.8);

  border-radius: 2px;
}

.reserve:hover {
  box-shadow: 0px 0px 5px black;
  width: 255px;
  height: 32px;
}



  .reviews-details {
    grid-area: reviews-details;
    /* background-color: orange; */
    min-height: 300px;
    border-top: solid thin lightgray;
    padding-top: 30px;
}

.first-line-details {
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  /* background-color: blue; */
  margin-top: 10px;
}

.post-review-button {
  border: 1px solid black;
  width: 150px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.post-review-button:hover {
  box-shadow: 0 0 10px grey;
  width: 152px;

}

.post-rev {
  border: solid black thin;
  background-color: lightgrey;
  width: 150px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}

.post-your-review {
  width: 150px;
  /* border: solid black 2px; */
  background-color: lightgray;
  color: white;
  box-shadow: 3px 3px 3px black;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  height: 30px;
  padding-bottom: 5px;
  border-radius: 3px;

}


.hide-review {
  background-color: white;
}

.be-first {
  font-size: 13px;
}


.name-details {
  font-size: 20px;
  /* background-color: green; */
  height: 20px;
}

.details-date {
  /* background-color: pink; */
  color: grey;
  height: 10px;
}

.details-delete-button {
  width: 60px;
  border: solid lightgray;
  background-color: lightgray;
  box-shadow: 3px 3px 3px rgb(151, 151, 151);
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
}

.details-delete-button:hover {
   box-shadow: 0px 0px
}
